/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body{
  overflow-x: hidden;
}
.div{
  display: block;
}
div ul li.list-header{
  list-style: none;
  display: inline;
  /*float: left;*/
}
.navbar-light{
  background-color: #fcb71e !important;
}
#carouselExampleIndicators{
  margin-top:0px !important;

}
.navbar{
  /*display: inline !important;*/
  /*position: fixed;*/
  z-index: 999999999;
  width: 100%;
}

.list-group-item{
  border: none;
  background-color: #fcb71e;
  color: black;
  font-size: 13px;
}
.img-fluid{
  width: 100% !important;
  height: 430px;
}
.list-group-item:hover{
  color: white;
}
.row1{
  padding-left: 100px;
}

.fontC:hover{
  color:#fcb71e !important;
}
.img-header{
  padding-left: 80px;
  height: 80px;
  width: 450px;
}

.itemft a{
  height: 32px;
  color: black;
}
.head1{
  height: 40px;
  background-color:#ececec;
}
nav .padding{
  padding-left:180px;
}

nav .padding .nav-item {
  padding-left: 30px;
}
div ul li a.font{
  color: white !important;
  font-weight: bold;
}
nav a.padding{
  color: white !important;
  font-weight: bold;
}
nav .nav-link:hover{
  color: #0000cc !important;
}
.nav-header{
  height: 40px;
}
.rows{
  padding-left: 60px;
}
.rows2{
  padding-left: 30px;
}
.head3{
  height: 40px;
  background-color: #fcb71e;
}
.can{
  display: flex;
  padding-left: 180px;
}
.nav-link{
  color: black !important;
  list-style: none !important;
}
div#bodernone{
  border: none;
}
ul.list1 li{
  display:inline;
}
.fontC{
  color: black;
}
.fontA{
  color: white;
  font-weight: bold;
}
.hotline{
  float: left;
  flex: 1 0;
}
.imgft{
  height: 250px;  
}
.img1{
  padding-top: 5%;
  height: 80px;
  width: 100px;
}
.fontB{
  color:#fcb71e ;
}
.fontB:hover{
  text-decoration: none;
}
.buttonBd{
  width: 100%;
}
.col-left{
  width: 100%;
  padding-left: 0px;
}
.rowcustom{
  height: 150px;
}
.tex1{
  padding-left: 0px;
}
.tex1 a{
  font-size: 13px;
  color: black;
}
.tex1 a:hover{
  text-decoration: none;
  color: #fdbe25;
}
.text-ft p{
  font-weight: bold;
  color: black;
  font-size: 14px;
}
.text-ft a:hover{
  text-decoration: none;
}
.img-ft{
  height: 150px;
  width: 150px;
}
.list-group-item{
  border: none;
  border-bottom:1px solid #ccc;
  background-color: #fffad5;
  color: black;
}
ul li a.col-body{
  display: block;
  width: 100%;
  clear: both;
  padding: 10px 0;
  border-bottom: 1px solid #dcdcdc;
  position: relative
}
@media (min-width: 300px) and (max-width: 650.98px) {
  nav .padding {
    padding-left: 0px;
  }
  .img-fluid{
    width: 100% !important;
    height: 200px;
  }
  .img-header{
    width: 100%;
    padding-left: 0px;
  }
  .nav-header{
    height: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {


}

@media (min-width: 992px) and (max-width: 1199.98px) {


}

@media (min-width: 1500px)  and (max-width: 1799.98px) {


}


@media (min-width: 1800px)   {

}


